/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Navbar */
.navbar  {
  background-color: #222;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Title */
.navbar h2 {
  font-size: 20px;
  font-weight: bold;
}

/* Nav container */
.navbar nav {
  display: flex;
  gap: 20px;
}

/* Nav links */
.navbar nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.navbar nav a:hover {
  background-color: #444;
}

/* Main section (sidebar + content) */
.main {
  flex: 1;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #007bff;
}

/* Content area */
.content {
  flex: 1;
  padding: 30px;
}

/* Footer */
.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
