body {
    font-family: Arial, sans-serif;
    background-color: navy;
}

.container {
    width: 320px;
    margin: 200px auto;
    background: lightblue;
    padding: 20px;
    border-radius: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 10px;
}

select:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#loader {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.85);
    display: none;
    z-index: 9999;
}

.spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* PERFECT CENTER */
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}


