body {
  background: #f8f9fa;
}

.header {
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  background: #d9e8f5;
  color:black;
}

.tab {
  text-decoration: none;
  font-weight: 600;
  color: #555;
}

.tab.active {
  color: #0d6efd;
  border-bottom: 2px solid #0d6efd;
}

.transaction-card {
  padding: 12px;
  border-radius: 6px;
}
